!DOCTYPE html>
<html>
    <head>
        <title>week 3</title>
        <!-- 2. internal css-->
         <style>
            .highlight {
                color: whitesmoke;
                font-size:20px;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            }
            img {
                border: 5px solid skyblue ;
                border-radius: 10px;
            }
            footer {
                text-align: center;
                font-family:cursive;
                text-decoration: wavy;
            }
         </style>
    </head>
    <!-- 1. in-line css -->
    <body style="background-color: rgb(245, 82, 245);">
        <h1 class="highlight">welcome to my week 3 homepage</h1>
        <p class="highlight">sample paragaph for week 3 paragraph structure.</p>
        <img scr="https://images.pexels.com/photos/18881685/pexels-photo-18881685/free-photo-of-purple-lavender-flowers.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="sample image" width="300" length=250>
        <footer>
            <p class="highlight">&copy;2025 leisha. all rights reserved.</p>
        </footer>
    </body>
</html>
